.pesquisa-campo {
    width: 50%;
    min-width: 400px;
    height: 50px;
    padding: 0 20px;
    background-color: rgba(60, 42, 33, 0.1);
    
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;

    color: var(--cor-fonte-escura);
    font-size: 1rem;
    font-family: var(--fonte-textos);
    font-weight: 500;
    letter-spacing: 2px;

    &:focus {
        outline: none;
        border-radius: 10px 10px 0 0;
        border-bottom: 2px solid #3C2A21;
        background-color: rgba(60, 42, 33, 0.25);
    }

    &::placeholder {
        color: var(--cor-fonte-escura);
        font-size: 1rem;
        font-family: var(--fonte-textos);
        font-weight: 500;
        letter-spacing: 2px;
    }
}

@media (max-width: 1024px) {
    .pesquisa-campo {
        width: 70%;
        min-width: 300px;
        height: 45px;
        font-size: 0.95rem;
        letter-spacing: 1px;
    }

    .pesquisa-campo::placeholder {
        font-size: 0.95rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 600px) {
    .pesquisa-campo {
        width: 80%;
        min-width: unset;
        height: 40px;
        padding: 0 16px;
        font-size: 0.9rem;
        letter-spacing: 1px;
    }

    .pesquisa-campo::placeholder {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}