.mensagem-aguardo {
    text-align: center;
}

.container-receitas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.receita-categoria {
    background-color: var(--cor-secundaria);
    padding: 5px 20px;
    border-radius: 10px;
}

@media (max-width: 1024px) {
    .container-receitas {
        padding: 0 24px;
        box-sizing: border-box;
    }
}

@media (max-width: 600px) {
    .container-receitas {
        padding: 0 12px;
    }
}