.titulo {
    font-family: var(--fonte-titulo);
    text-transform: uppercase;
    
    margin: 30px 0;
}

.tamanho-principal {
    font-size: 2.25rem;
    letter-spacing: 10px;
    font-weight: 300;
}

.tamanho-enfase {
    font-size: 2.5rem;
    font-weight: 400;
}

.tamanho-card {
    font-size: 2rem;
    font-weight: 300;
}

.tamanho-card--inicio {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 6px;
}

.fonte-escura {
    color: var(--cor-fonte-escura);
}

.fonte-clara {
    color: var(--cor-fonte-clara);
}