.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('../../imgs/fundoPadrao.png');
    background-color: var(--cor-primaria);
    
    height: 150px;
    width: 100%;
    margin-top: 25px;
}