.caderno-receita {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    justify-items: center;

    min-width: 0;
    width: 50%;
    min-height: 900px;
    min-width: 800px;
    height: fit-content;

    margin: 50px 0 25px;
    border-radius: 100px;

    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    &.capa {
        background-color: var(--cor-primaria);
        
        &.tipo-n1 { background-image: url('../../imgs/fundoCard_Capa1.png') }
        &.tipo-n2 { background-image: url('../../imgs/fundoCard_Capa2.png') }
        &.tipo-n3 { background-image: url('../../imgs/fundoCard_Capa3.png') }
        &.tipo-n4 { background-image: url('../../imgs/fundoCard_Capa4.png') }

        .info-titulo {
            align-self: end;
        }

        .info-componente { 
            align-self: center;
        }
    }

    &.pagina {
        background-color: var(--cor-terciaria);
        background-image: url('../../imgs/fundoCard_PaginaPadrao.png');  
        
        .info-titulo {
            align-self: end;
        }

        .info-componente { 
            align-self: top;
        }
    }
}

.info-titulo {
    text-align: center;
    margin-left: 6px;
    margin-right: 6px;
}

/* Responsividade */
@media (max-width: 1024px) {
    .caderno-receita {
        min-width: 0;
        width: 70%;
        min-height: 700px;
        border-radius: 60px;
        grid-template-rows: 1fr 2fr;
    }

    .caderno-receita .info-titulo {
        transform: none;
        font-size: 2rem;
        line-height: 1.1;
    }

    .caderno-receita .info-componente {
        padding: 8px 12px;
    }
}

@media (max-width: 600px) {
    .caderno-receita {
        width: 95%;
        min-height: 560px;
        border-radius: 28px;
        grid-template-rows: auto 1fr;
        margin: 30px 0 20px;
    }

    .caderno-receita.capa .info-titulo,
    .caderno-receita.pagina .info-titulo {
        font-size: 1.6rem;
        padding: 6px 8px;
    }

    .caderno-receita .info-componente {
        padding: 6px 10px;
        width: 100%;
    }
}