@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+SC&display=swap');

:root {
  --cor-primaria: #1A1208;
  --cor-secundaria: #3C2A21;
  --cor-terciaria: #F3E9A7;
  --cor-fonte-clara: #D5CEA3;
  --cor-fonte-escura: #311F15;
  --cor-fundo: #E5E5CB;

  --fonte-titulo: 'Alan Sans';
  --fonte-textos: 'Raleway';
  --fonte-enfase: 'Inter';
  --fonte-botao: 'WDXL Lubrifont SC', sans-serif;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--cor-fundo);
  background-image: url('./imgs/fundoBody.png');
}

