@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #E5E5CB;
}

/*
! Paleta de cores
Cor primária:     #1A120B
Cor secundária:   #3C2A21
Cor da fonte:     #D5CEA3
Cor de fundo:     #E5E5CB
*/
