.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 120px;
    justify-items: center;
    align-items: center;
    background-color: var(--cor-primaria);
    background-image: url('../../imgs/fundoPadrao.png');

    .header-logo {
        width: 250px;
        position: relative;
        bottom: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .header {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 100px;
    }

    .header .header-logo {
        width: 150px;
        bottom: 4px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .header {
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 80px;
        justify-items: center;
    }

    .header .header-logo {
        width: 160px;
        justify-self: left;
        margin-left: 16px;
        bottom: 4px;
    }
}