.header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 120px;
    justify-items: center;
    align-items: center;
    background-color: var(--cor-primaria);
    background-image: url('../../imgs/fundoHeader.png');

    .header-logo {
        width: 250px;
        position: relative;
        bottom: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}