.container-secao {
    display: flex;
    gap: 20px;
    width: 60%;
    background-color: var(--cor-secundaria);
    background-image: url('../../imgs/fundoCard_Inicio.png');
    
    padding: 50px;
    margin: 25px 0;

    border-radius: 50px;
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    transition-duration: 0.25s;
}

.container-secao:hover {
    background-color: var(--cor-primaria);
}

.secao-img {
    width: 300px;
    border-radius: 50%;
}

.secao-textos {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    color: var(--cor-fonte-clara);
}

.textos-texto {
    font-family: var(--fonte-textos);
    font-size: 1.25rem;
    line-height: 40px;
}

.reverso {
    flex-direction: row-reverse;
}