.header-opcoes {
    display: flex;
    justify-content: space-between;
    width: 800px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.opcoes-opcao {
    font-family: 'Alan Sans';
    font-size: 2.25rem;
    color: #D5CEA3;
    text-decoration: none;
}

.opcoes-opcao p {
    letter-spacing: 5px;
    text-transform: uppercase;
}